@model IEnumerable<ShopASP.Models.Item>

@foreach (var item in Model)
{
    <div style="position: relative" class="col-sm-4 col-lg-4 col-md-4">
        <a href="@Url.Action("Description", "Shop", new { id = item.ItemId })">
            <div class="thumbnail">
                <div class="itemPhoto">
                    <img class="center-block img-responsive" src="@Url.ItemPhotoPath(item.ImageFileName)" />
                </div>

                <div class="caption">
                    <h4 class="pull-right">@item.Price</h4>
                    <h4>
                        @item.Title
                    </h4>

                    <div class="addCartButton">
                        <a href="@Url.Action("AddToCart", "Cart", new { id = item.ItemId })" type="button" class="btn btn-default">
                            Dodaj <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </a>
    </div>
}

